BrokeredServiceBusChat/BrokeredServiceBusChat/.vs/BrokeredServiceBusChat/v14/.suo
BrokeredServiceBusChat/BrokeredServiceBusChat/BrokeredServiceBusChat/bin/Debug/BrokeredServiceBusChat.vshost.exe
BrokeredServiceBusChat/BrokeredServiceBusChat/BrokeredServiceBusChat/bin/Debug/BrokeredServiceBusChat.vshost.exe.config
BrokeredServiceBusChat/BrokeredServiceBusChat/BrokeredServiceBusChat/bin/Debug/BrokeredServiceBusChat.vshost.exe.manifest
BrokeredServiceBusChat/BrokeredServiceBusChat/BrokeredServiceBusChat/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BrokeredServiceBusChat/BrokeredServiceBusChat/BrokeredServiceBusChat/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BrokeredServiceBusChat/BrokeredServiceBusChat/BrokeredServiceBusChat/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BrokeredServiceBusChat/BrokeredServiceBusChat/BrokeredServiceBusChat/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BrokeredServiceBusChat/BrokeredServiceBusChat/packages/WindowsAzure.ServiceBus.3.4.0/content/app.config.install.xdt
BrokeredServiceBusChat/BrokeredServiceBusChat/packages/WindowsAzure.ServiceBus.3.4.0/content/web.config.install.xdt
BrokeredServiceBusChat/BrokeredServiceBusChat/packages/WindowsAzure.ServiceBus.3.4.0/lib/net45-full/Microsoft.ServiceBus.dll
BrokeredServiceBusChat/BrokeredServiceBusChat/packages/WindowsAzure.ServiceBus.3.4.0/lib/net45-full/Microsoft.ServiceBus.xml
BrokeredServiceBusChat/BrokeredServiceBusChat/packages/WindowsAzure.ServiceBus.3.4.0/WindowsAzure.ServiceBus.3.4.0.nupkg
